/* https://www.w3schools.com/css/default.asp - the site that helped us to understand css concepts and apply it to our site (other than codeacademy), major help was provided in thee topis such as: flexbox, gradient, rounded corners, box sizing etc. */

body {
    background-color: #fafafa;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    margin: 0;
}

.header {
    background-color: white;
    padding: 20px;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 150px;
}


/* https://www.30secondsofcode.org/css/s/hover-underline-animation/ - the source that helped us generate the hover */

#lists li {
    display: inline;
    margin-right: 10px;
    position: relative;
}

#lists a {
    text-decoration: none;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#lists a:after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -1.5px;
    left: 0;
    background-color: #000000;
    transition: width 0.15s ease-out;
}

#lists a:hover:after {
    width: 100%;
    background-color: #3533cd;
    transform-origin: bottom;
}

.content {
    max-width: 900px;
    text-align: center;
    margin: 60px auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}


/* images were taken from unsplash.com */

.images {
    display: inline;
    position: fixed;
    bottom: 70px;
    width: 100%;
}

.images img {
    margin: 0 5px;
    width: 270px;
    height: 200px;
}

footer {
    background: linear-gradient(to right, #000000, #3533cd);
    color: #ffffff;
    text-align: center;
    width: 100%;
    position: fixed;
    bottom: 0;
}